* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  :root {
    --hue: 294;
  --bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(var(--hue), 97%, 31%);
  --secondary-color: hsl(240, 9%, 89%);
  --text-color: hsla(240, 6%, 21%, 1);

  --button-secondary: hsla(240, 6%, 21%, 1);

  font-size: 62.5%;

}

html.dark {
  --bg-color: #121214;
  --input-color: #FFFFFF;
   
  --text-color: #FFF;
  --btn-ac-primary-color: #FFFFFF;
  --bg-ac-btn-color: #0A3442;

  --bg-btn-color: #29292E;
  --btn-primary-color: #94949c;
}

html.dark .sum,
html:not(.dark) .moon {
  display: none;
}

html.dark .controls svg path {
  fill: #C4C4CC;
}

#toggle-mode {
  position: absolute;
  right: 6.0rem;
  top: 6.0rem;
  line-height: 0;
  
  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.container {
  display: grid;
  grid-template-areas: "main aside";
  
  width: clamp(54.7rem, 64.1vw, 82.1rem);
}

.hide {
  display: none;
}

main { 
  grid-area: main;
  width: clamp(21.4rem, 25.1vw, 32.1rem);

  align-self: center;
}

#timer { 
  font-size: clamp(8.4rem, 9.8vw, 12.6rem);
  display: flex;
  margin-bottom: 1.7.rem;
  color: var(--text-color);
}

#controls {
  display: flex;
  align-items: center;
  gap: clamp(2rem, 1rem + 2vw, 4rem);
}

.running {
  display: none;
}

aside {
  display: grid;
  grid-template-areas:
    'A B'
    'C D';

    gap: clamp(2rem, 1rem + 4vw, 3.2rem);
    justify-content: center;
}

.sounds-buttons {
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--text-color);
    padding: 3.5rem;
    height: 152px;
    width: 152px;
    font-size: 66px;
}

.sounds-playing {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.sounds-buttons:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    transition: 1s;
}

.action-buttons {
    font-size: 5.1rem;
    color: var(--text-color);
    fill: var(--text-color);
}



.action-buttons:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
}